* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (max-width: 1080px) {
  html {
    font-size: 93.75%large;
  }
}

@media (max-width: 720px) {
  Html {
    font-size: 87.5;
  }
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button,
textarea {
  font-family: 'Poppins', sans-serif;
  ;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

form input {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}