* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (max-width: 1080px) {
  html {
    font-size: 93.75%large;
  }
}

@media (max-width: 720px) {
  Html {
    font-size: 87.5;
  }
}

body {
  background: #121214;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button,
textarea {
  font-family: 'Poppins', sans-serif;
  ;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

form input {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

.react-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  background: #fff;
  padding: 3rem;
  position: relative;
  border-radius: 0.24rem;

  .cores {
    margin: 0 0.25rem;
    padding: 1rem;
    background: #30baf5;
    color: #fafafc;
  }

  .strech {
    margin: 0 0.25rem;
    padding: 1rem;
    background: #ededf5;
    color: #bdbdc8;
  }

  .azul {
    margin: 0 0.25rem;
    padding: 1rem;
    background: #1109f8;
    color: #fafafc;
  }

  .pvdc {
    margin: 0 0.25rem;
    padding: 1rem;
    background: #f2eb61;
    color: #fafafc;
  }

  input {
    width: 100%;
    padding: 0 1.5rem;
    height: 4rem;
    border-radius: 0.25rem;

    border: 1px solid #d7d7d7;
    background: #e7e9ee;

    font-weight: 400;
    font-size: 1rem;

  }


  button[type="submit"] {
    width: 100%;
    padding: 0 1.5rem;
    height: 4rem;
    background: #66ff33;
    color: #ff0000;
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    margin-top: 1.5rem;
    font-weight: bold;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9)
    }

  }

}


.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;

  transition: 0, 2s;

  &:hover {
    filter: brightness(0.8);
  }

}